<div class="nav-wrapper bg-dark">
    <nav class="navbar navbar-dark bg-dark mx-auto">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Hidden brand</a>
            <div class="nav-icons mx-auto">
                <ul class="nav navbar d-flex d-inline-flex nav-set">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/"
                            ><i class="fas fa-home ico"></i
                        ></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/question"
                            ><i class="far fa-comment-dots ico"></i
                        ></a>
                    </li>
                </ul>
            </div>
            <a class="hamburger" href="#" onclick="openNav()"><span></span></a>
        </div>
    </nav>

    <div id="mySidenav" class="sidenav">
        <a href="/">Perguntas</a>
        <a href="/question">Services</a>
    </div>
</div>
